__pycache__
.etcd_data
.grafana_data
.influxdb
.kafka
.rabbitmq_data

# Dev Environment
.DS_Store
.idea
.node-version
.python-version

# Secrets
*.pub
*.pem
.secrets*

# Terraform
*.tfstate*
*.tfvars
.terraform
credentials.json

.zookeeper
